body {
    padding-left: 10%;
    padding-right: 10%;
}

.header {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    padding: 30px 0px;
}

.logo img {
    width: 238px;
    height: 100%;
}

.menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}
.menu ul li {
    margin: 15px;
}

.button a {
    border: 1px solid orange;
    text-align: center;
    color: orange;
    padding: 15px;
    text-decoration: none;
}

.button a:hover {
    color: rgb(244, 248, 244);
    background-color: rgb(252, 190, 74);
}

.banner {
    padding: 20px 0;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-start;
    background-color:rgb(67, 67, 161);
    margin-left: 10%;
    margin-right: 10%;
}

.text a {
    border: 1px solid orange;
    text-align: center;
    color: orange;
    padding: 17px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;

}

.text a:hover {
    color: rgb(244, 248, 244);
    background-color: rgb(252, 190, 74);
}

.text h1 {
    size: 40px;
    color: white;
    font-size: 54px;
}

.text p {
    height: 80px;
    color: antiquewhite;
}

.box {
    width: 100%;
    justify-content: space-between;
    margin-top: 123px;
    display: flex;
    flex-wrap: wrap;
}

.xbox {
    height: 125px;
    width: 25%;
    padding: 30px;
    border: 2px solid rgb(92, 88, 88);
    display: inline-block;
    margin-bottom: 40px;
}

.estimation {
    background-color: rgb(197, 188, 238);
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

.knop {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.knop input {
    width: 420px;
    height: 40px;
}

.knopimg {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	align-content: space-around;
}
