header{
    background-color: rgb(241, 226, 9);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.content{
    background-color: wheat;
}
.text{
    display: flex;
    width: 50%;
    align-items: center;
    padding-right: 50px;
    text-align: justify;
   
}
.photo1{
    width: 50%;
}
.left{
    display: flex;
    margin-right: 500px;
}
.right ul{
    display: flex;
}
.right ul li a{
    margin: 30px;
}
.class2{
    display: flex;
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.photo1 img{
    width: 100%;
    height: auto;
}
.photo2{
    display: flex;
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
.text2_1{
    margin: 20px;
    text-align: justify;
    display: flex;
    width: 33%;
}
.right li{
    list-style-type: none;
    text-decoration: none;
}
.right li a{
    text-decoration: none;
}
.footertext li{
    margin: 15px;
    list-style-type: none;
}
.class4{
    justify-content: space-between;
    margin: 21px;
    display: flex;
}
.footertext ul{
    display: flex;
}
.text2{
    display: flex;
}
footer{
    background-color: tomato;
}
.class3{
    background-color: burlywood;
}
.photo2 img{
    display: flex;
    width: 600px;
    height: 600px;
}